:root {
    --box-color: black;
    --background-color: linear-gradient(140deg, rgba(255,0,0,1) 0%, rgba(9,121,108,1) 49%, rgba(255,0,82,1) 100%);;
    --text-color: white;
    --box-background: rgb(199, 199, 199);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    font-size: 25px;
    font-weight: 700px;
    justify-content: center;
    background-color: #640005;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.options {
    display: flex;
    gap: 15px;
    margin: 20px;
}

.button {
    background-color: #48d0e2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transform: scale(1.05);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, .3);
}

#rainbowBtn {
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
}

#rainbowBtn:hover {
    animation: animation 6s linear infinite;
    border: none;
}

@keyframes animation {
    0% {background-position: 0%;}
    100% {background-position: 300%;}
}

#clearBtn {
    color: black;
    background: white;
}

#newSizeBtn {
    border: 2px solid black;
    border-style: dashed solid;
}

#eraserBtn {
    background-color: rgb(175, 35, 35);
}

.active {
    animation: animation 6s linear infinite;
    transform: scale(1.1);
}

.active#eraserBtn {
    background-color: rgb(167, 167, 167);
}

.container {
    aspect-ratio: 1/ 1;
    flex: 1 0 auto;
    display: flex;

    height: 620px;
    width: 620px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border: 15px groove gold;
}

.row {
    flex:1;
    display: flex;
    flex-direction: column;
}
.box {
    aspect-ratio: 1/ 1;
    flex:1;
    display: flex;
    border-right: 1px solid rgb(53, 53, 53);
    border-bottom: 1px solid rgb(53, 53, 53);
    background-color: var(--box-background);
    
}

.hovered {
    background-color: var(--box-color);
}



.footer {
    display: flex;
    background: #640005;
    padding: 20px 30px;
    justify-content: center;
}